{{ $items := .display_items | default .Page.Params.display_items }}
{{ $columns := .columns | default 3 }}
{{ $entire_card_clickable := .entire_card_clickable | default false }}
{{ $open_in_blank_page := .open_in_blank_page | default false }}

{{ if $items }}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-{{ $columns }} g-4">
    {{ range $key, $item := $items }}

      {{ $img := partialCached "resolve-rel-url.html"
          (dict "Page" $.Page "src" $item.image_url)
          $.Page.File.Path $item.image_url $.Lang
      }}

      {{ partial "card.html" (dict
          "target_url"            $item.target_url
          "title"                 $item.title
          "description"           $item.description
          "image_url"             $img
          "banner"                $item.banner
          "entire_card_clickable" $entire_card_clickable
          "open_in_blank_page"    $open_in_blank_page
      ) }}
    {{ end }}
  </div>
{{ end }}
