{{ $videos := .videos }}
{{ $page := .Page }}
{{ if $videos }}
  <div class="container my-5">
    <div class="row">
      {{ range $videos }}
        {{ $video := . }}
        {{ if eq (printf "%T" $video) "string" }}
          {{ $video = dict "url" $video }}
        {{ end }}
        {{ $videoUrl := $video.url }}
        {{ $name := $page.Title }}
        {{ $desc := $page.Params.description }}
        {{ with $video.name }}{{ $name = . }}{{ end }}
        {{ with $video.description }}{{ $desc = . }}{{ end }}
        {{ $upload := $video.uploadDate | default (now.Format "2006-01-02") }}
        {{ $id := "" }}
        {{ if in $videoUrl "youtu.be" }}
          {{ $id = replaceRE "^https?://(www\\.)?youtu\\.be/" "" $videoUrl }}
        {{ else }}
          {{ $id = replaceRE "^https?://(www\\.)?youtube\\.com/watch\\?v=" "" $videoUrl }}
        {{ end }}
        {{ $embedUrl := printf "https://www.youtube-nocookie.com/embed/%s" $id }}
        <div class="col-md-12 mb-4 text-center">
          <div class="ratio ratio-16x9" style="max-width:800px; margin:0 auto;">
            <iframe src="{{ $embedUrl }}"
                    title="{{ $name }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin"
                    allowfullscreen>
            </iframe>
          </div>
        </div>
        {{ $thumb := printf "https://img.youtube.com/vi/%s/hqdefault.jpg" $id }}
        {{ $schema := dict
            "@context" "https://schema.org"
            "@type" "VideoObject"
            "name" $name
            "description" $desc
            "thumbnailUrl" $thumb
            "contentUrl" $videoUrl
            "embedUrl" $embedUrl }}
        {{ with $upload }}{{ $schema = merge $schema (dict "uploadDate" .) }}{{ end }}
        <script type="application/ld+json">
        {{ $schema | jsonify | safeJS }}
        </script>
      {{ end }}
    </div>
  </div>
{{ else }}
  <p>No videos provided.</p>
{{ end }}
