<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Sicher </h2>
        <p>Angetrieben von <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Hardware-Signer <i>erforderlich</i>, um Best-Practices zu gewährleisten
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Modern</h2>
        <p>Kombiniert leistungsstarke Tabellen mit modernen Visualisierungen für Mempool- und Geldflussdiagramme. <a href="{{ "/features/" | relLangURL }}">Voll funktionsfähig</a> – sofort einsatzbereit   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Synchronisation & Chat </h2>
        <p>
            Sicherung und Synchronisierung von Labels. <a href="{{ "/features/collaboration" | relLangURL }}">Zusammenarbeiten</a> mit anderen Signierern in einem Mehrparteien-Multisig
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Einfach </h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">Schritt-für-Schritt</a>-Anleitungen für eine sichere SingleSig- oder MultiSig-Einrichtung mit <a href="{{ "/features/pdf-export/" | relLangURL }}">PDF-Backupblättern</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Kompatibel </h2>
        <p>
            Volle Unterstützung für <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard</a>, 
            <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard Q</a>, 
            <a href="https://shop.bitbox.swiss/?ref=MOB4dk7gpm">Bitbox02</a>, 
            <a href="https://store.blockstream.com/?code=XEocg5boS77D">Blockstream Jade</a>,    
            <a href="https://trezor.io/trezor-safe-5-bitcoin-only">Trezor Safe</a>,
            <a href="https://foundation.xyz/passport">Foundation Passport</a>,
            <a href="https://keyst.one/btc-only?rfsn=8630473.c25550a&utm_source=refersion&utm_medium=affiliate&utm_campaign=8630473.c25550a">Keystone</a>,
            <a href="https://shop.ledger.com/pages/ledger-nano-s-plus">Ledger</a>,
            <a href="https://clavastack.com/en/?coupon=bitcoin-safe">Specter DIY</a>,
            <a href="https://seedsigner.com/">SeedSigner</a>,
            <a href="https://selfcustody.github.io/krux/">Krux</a>.
            Unterstützt alle gängigen Hardware-Wallets über QR, USB oder SD-Karte.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Mehrsprachig</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">Verwende deine Sprache</a>: 🇺🇸 Englisch, 🇨🇳 Chinesisch - 简体中文, 🇪🇸 Spanisch - español de España, 🇯🇵 Japanisch - 日本語, 🇷🇺 Russisch - русский, 🇵🇹 Portugiesisch - português europeu, 🇮🇳 Hindi - हिन्दी, Arabisch - العربية, 🇮🇹 Italienisch - italiano, 🇫🇷 Französisch - Français, 🇩🇪 Deutsch - Deutsch, 🇲🇲 Burmesisch - မြန်မာ, 🇰🇷 Koreanisch - 한국어, 🇹🇭 Thailändisch - ภาษาไทย, 🇮🇷 Persisch (Farsi) - فارسی, 🇵🇱 Polnisch - Polski, 🇪🇸 Katalanisch - Català   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Open Source</h2>
        <p>Wir ❤ Open Source: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> ist <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>