<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">ปลอดภัย </h2>
        <p>ขับเคลื่อนโดย <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            ต้องใช้ตัวเซ็นต์ฮาร์ดแวร์ <i>จำเป็น</i> เพื่อให้เป็นไปตามแนวทางปฏิบัติที่ดีที่สุด
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="แผนภาพการไหลของเงิน">
        <h2 class="h2">ทันสมัย</h2>
        <p>ผสานตารางที่ทรงพลังกับการแสดงผลสมัยใหม่สำหรับ mempool และแผนภาพการไหลของเงิน <a href="{{ "/features/" | relLangURL }}">มีฟีเจอร์ครบถ้วน</a> พร้อมใช้งานทันที   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="โลโก้การซิงค์และแชทของ Bitcoin Safe">
        <h2 class="h2">ซิงค์ &amp; แชท </h2>
        <p>
            สำรองและซิงโครไนซ์ป้ายกำกับ. <a href="{{ "/features/collaboration" | relLangURL }}">ร่วมมือ</a> กับผู้เซ็นคนอื่นในระบบหลายฝ่าย (multi-party-multisig)
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="เครื่องหมายถูก">
        <h2 class="h2">ง่าย </h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">คำแนะนำทีละขั้นตอน</a> สำหรับการตั้งค่า SingleSig หรือ MultiSig ที่ปลอดภัย พร้อม <a href="{{ "/features/pdf-export/" | relLangURL }}">แผ่นสำรอง PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="โลโก้ USB">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="โลโก้ QR">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="โลโก้การ์ด SD" >
        <h2 class="h2">รองรับ </h2>
        <p>
            รองรับเต็มรูปแบบสำหรับ <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard</a>, 
            <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard Q</a>, 
            <a href="https://shop.bitbox.swiss/?ref=MOB4dk7gpm">Bitbox02</a>, 
            <a href="https://store.blockstream.com/?code=XEocg5boS77D">Blockstream Jade</a>,    
            <a href="https://trezor.io/trezor-safe-5-bitcoin-only">Trezor Safe</a>,
            <a href="https://foundation.xyz/passport">Foundation Passport</a>,
            <a href="https://keyst.one/btc-only?rfsn=8630473.c25550a&utm_source=refersion&utm_medium=affiliate&utm_campaign=8630473.c25550a">Keystone</a>,
            <a href="https://shop.ledger.com/pages/ledger-nano-s-plus">Ledger</a>,
            <a href="https://clavastack.com/en/?coupon=bitcoin-safe">Specter DIY</a>,
            <a href="https://seedsigner.com/">SeedSigner</a>,
            <a href="https://selfcustody.github.io/krux/">Krux</a>.
            รองรับกระเป๋าเงินฮาร์ดแวร์หลักทั้งหมดโดยใช้ QR, USB หรือการ์ด SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="โลโก้แปลภาษา" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">รองรับหลายภาษา</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">ใช้ภาษาของคุณ</a>: 🇺🇸 ภาษาอังกฤษ - English, 🇨🇳 ภาษาจีน - 简体中文, 🇪🇸 ภาษาสเปน - español de España, 🇯🇵 ภาษาญี่ปุ่น - 日本語, 🇷🇺 ภาษารัสเซีย - русский, 🇵🇹 ภาษาโปรตุเกส - português europeu, 🇮🇳 ภาษาฮินดี - हिन्दी, ภาษาอาหรับ - العربية, 🇮🇹 ภาษาอิตาเลียน - italiano, 🇫🇷 ภาษาฝรั่งเศส - Français, 🇩🇪 ภาษาเยอรมัน - Deutsch, 🇲🇲 ภาษาพม่า - မြန်မာ, 🇰🇷 ภาษาเกาหลี - 한국어, 🇹🇭 ภาษาไทย - ภาษาไทย, 🇮🇷 ภาษาฟาร์ซี (เปอร์เซีย) - فارسی, 🇵🇱 ภาษาโปแลนด์ - Polski, 🇪🇸 คาตาลัน - Català   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">โอเพนซอร์ส</h2>
        <p>เรารักโอเพนซอร์ส: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> อยู่ภายใต้ <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>