<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Sécurisé </h2>
        <p>Propulsé par <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Signataire matériel <i>requis</i>, garantissant les meilleures pratiques
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Moderne</h2>
        <p>Alliant des tableaux puissants à des visualisations modernes pour le mempool et les diagrammes de flux d'argent. <a href="{{ "/features/" | relLangURL }}">Complet</a> prêt à l'emploi   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Synchronisation & Chat </h2>
        <p>
            Sauvegarde et synchronisation des étiquettes. <a href="{{ "/features/collaboration" | relLangURL }}">Collaborez</a> avec d'autres signataires dans un multisig multipartite
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Facile </h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">Pas à pas</a> instructions  pour une configuration SingleSig ou MultiSig sécurisée  avec <a href="{{ "/features/pdf-export/" | relLangURL }}">fiches de sauvegarde PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Compatible </h2>
        <p>
            Prise en charge complète de <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard</a>, 
            <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard Q</a>, 
            <a href="https://shop.bitbox.swiss/?ref=MOB4dk7gpm">Bitbox02</a>, 
            <a href="https://store.blockstream.com/?code=XEocg5boS77D">Blockstream Jade</a>,    
            <a href="https://trezor.io/trezor-safe-5-bitcoin-only">Trezor Safe</a>,
            <a href="https://foundation.xyz/passport">Foundation Passport</a>,
            <a href="https://keyst.one/?rfsn=8630473.c25550a&utm_source=refersion&utm_medium=affiliate&utm_campaign=8630473.c25550a">Keystone</a>,
            <a href="https://shop.ledger.com/pages/ledger-nano-s-plus">Ledger</a>,
            <a href="https://clavastack.com/en/?coupon=bitcoin-safe">Specter DIY</a>,
            <a href="https://seedsigner.com/">SeedSigner</a>,
            <a href="https://selfcustody.github.io/krux/">Krux</a>.
            Prend en charge tous les principaux portefeuilles matériels utilisant QR, USB ou carte SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Multilingue</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">Utilisez votre langue</a>: 🇺🇸 anglais, 🇨🇳 Chinois - 简体中文, 🇪🇸 Espagnol - español de España, 🇯🇵 Japonais - 日本語, 🇷🇺 Russe - русский, 🇵🇹 Portugais - português européen, 🇮🇳 Hindi - हिन्दी, Arabic - العربية, 🇮🇹 Italien - italiano, 🇫🇷 Français - Français, 🇩🇪 Allemand - Deutsch, 🇲🇲 Birman - မြန်မာ, 🇰🇷 Coréen - 한국어, 🇹🇭 Thaï - ภาษาไทย, 🇮🇷 Persan (Farsi) - فارسی, 🇵🇱 Polonais - Polski, 🇪🇸 Catalan - Català   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Open source</h2>
        <p>Nous ❤ l'open source : <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> est sous licence <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>