<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">آمن </h2>
        <p>مدعوم بواسطة <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            موقّع مادي <i>مطلوب</i> يضمن الالتزام بأفضل الممارسات
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">عصري</h2>
        <p>يجمع بين جداول قوية ومرئيات حديثة للميمبول ومخططات تدفق الأموال. <a href="{{ "/features/" | relLangURL }}">مزوّد بكافة الميزات</a> جاهز للاستخدام   </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">المزامنة والدردشة </h2>
        <p>
            النسخ الاحتياطي ومزامنة التسميات. <a href="{{ "/features/collaboration" | relLangURL }}">تعاون</a> مع موقّعين آخرين في إعداد متعدد الأطراف ومتعدد التواقيع
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">سهل </h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">خطوة بخطوة</a> إرشادات لإعداد SingleSig أو MultiSig آمن مع <a href="{{ "/features/pdf-export/" | relLangURL }}">نماذج نسخ احتياطية بصيغة PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">متوافق </h2>
        <p>
            Full support for <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard</a>, 
            <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard Q</a>, 
            <a href="https://shop.bitbox.swiss/?ref=MOB4dk7gpm">Bitbox02</a>, 
            <a href="https://store.blockstream.com/?code=XEocg5boS77D">Blockstream Jade</a>,    
            <a href="https://trezor.io/trezor-safe-5-bitcoin-only">Trezor Safe</a>,
            <a href="https://foundation.xyz/passport">Foundation Passport</a>,
            <a href="https://keyst.one/?rfsn=8630473.c25550a&utm_source=refersion&utm_medium=affiliate&utm_campaign=8630473.c25550a">Keystone</a>,
            <a href="https://shop.ledger.com/pages/ledger-nano-s-plus">Ledger</a>,
            <a href="https://clavastack.com/en/?coupon=bitcoin-safe">Specter DIY</a>,
            <a href="https://seedsigner.com/">SeedSigner</a>,
            <a href="https://selfcustody.github.io/krux/">Krux</a>.
            يدعم جميع المحافظ المادية الرئيسية عبر QR أو USB أو بطاقة SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">متعدد اللغات</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">استخدم لغتك</a>: 🇺🇸 الإنجليزية, 🇨🇳 الصينية - 简体中文, 🇪🇸 الإسبانية - español de España, 🇯🇵 اليابانية - 日本語, 🇷🇺 الروسية - русский, 🇵🇹 البرتغالية - português europeu, 🇮🇳 الهندية - हिन्दी, Arabic - العربية, 🇮🇹 الإيطالية - italiano, 🇫🇷 الفرنسية - Français, 🇩🇪 الألمانية - Deutsch, 🇲🇲 البورمية - မြန်မာ, 🇰🇷 الكورية - 한국어, 🇹🇭 التايلاندية - ภาษาไทย, 🇮🇷 الفارسية (الفارسية) - فارسی, 🇵🇱 البولندية - Polski, 🇪🇸 الكاتالانية - Català   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">مفتوح المصدر</h2>
        <p>نحن ❤ المصدر المفتوح: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> مُرخّص بموجب <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>