<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">Bezpieczne </h2>
        <p>Wykorzystuje <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">BDK</a><br>
            Sprzętowy podpisywacz <i>wymagany</i>, co zapewnia najlepsze praktyki
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="Money Flow diagram">
        <h2 class="h2">Nowoczesne</h2>
        <p>Łączy potężne tabele z nowoczesnymi wizualizacjami mempoola i diagramami przepływu środków. <a href="{{ "/features/" | relLangURL }}">W pełni funkcjonalne</a> od razu</p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat logo">
        <h2 class="h2">Synchronizacja i czat </h2>
        <p>
            Kopia zapasowa i synchronizacja etykiet. <a href="{{ "/features/collaboration" | relLangURL }}">Współpracuj</a> z innymi podpisującymi w wielostronnym multisig
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="checkmark">
        <h2 class="h2">Łatwe </h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">Krok po kroku</a> instrukcje dotyczące bezpiecznej konfiguracji SingleSig lub MultiSig z <a href="{{ "/features/pdf-export/" | relLangURL }}">arkuszami kopii zapasowej PDF</a>     </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB logo">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR logo">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD Card logo" >
        <h2 class="h2">Kompatybilne </h2>
        <p>
            Full support for <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard</a>, 
            <a href="https://store.coinkite.com/promo/8BFF877000C34A86F410">Coldcard Q</a>, 
            <a href="https://shop.bitbox.swiss/?ref=MOB4dk7gpm">Bitbox02</a>, 
            <a href="https://store.blockstream.com/?code=XEocg5boS77D">Blockstream Jade</a>,    
            <a href="https://affil.trezor.io/SHtN">Trezor Safe</a>,
            <a href="https://foundation.xyz/passport">Foundation Passport</a>,
            <a href="https://keyst.one/btc-only?rfsn=8630473.c25550a&utm_source=refersion&utm_medium=affiliate&utm_campaign=8630473.c25550a">Keystone</a>,
            <a href="https://shop.ledger.com/?r=400f1fff75b5">Ledger</a>,
            <a href="https://clavastack.com/en/?coupon=bitcoin-safe">Specter DIY</a>,
            <a href="https://seedsigner.com/">SeedSigner</a>,
            <a href="https://selfcustody.github.io/krux/">Krux</a>.
            Obsługa wszystkich głównych portfeli sprzętowych za pomocą QR, USB lub karty SD.
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="Translate logo" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">Wielojęzyczne</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">Wybierz swój język</a>: 🇺🇸 Angielski, 🇨🇳 Chiński - 简体中文, 🇪🇸 Hiszpański - español de España, 🇯🇵 Japoński - 日本語, 🇷🇺 Rosyjski - русский, 🇵🇹 Portugalski - português europeu, 🇮🇳 Hindi - हिन्दी, Arabic - العربية, 🇮🇹 Włoski - italiano, 🇫🇷 Francuski - Français, 🇩🇪 Niemiecki - Deutsch, 🇲🇲 Birmański - မြန်မာ, 🇰🇷 Koreański - 한국어, 🇹🇭 Tajski - ภาษาไทย, 🇮🇷 Perski (Farsi) - فارسی, 🇵🇱 Polski - Polski, 🇪🇸 Kataloński - Català   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Oprogramowanie open source</h2>
        <p>Kochamy ❤ open source: <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> jest na licencji <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a></p> 
    </div> 
</div>