<!-- Features section -->

<style>
    .coloredicon {
      filter: brightness(0) saturate(100%) invert(37%) sepia(99%) saturate(667%) hue-rotate(224deg) brightness(72%) contrast(150%);
    }
</style>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em"  >
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>
        <h2 class="h2">လုံခြုံ</h2>
        <p>BDK <a href="https://bitcoindevkit.org/" target="_blank" rel="noopener">ဖြင့် ထောက်ပံ့ထားသည်</a><br>
            Hardware signer <i>လိုအပ်ပါသည်</i> — အကောင်းဆုံး လုပ်ထုံးလုပ်နည်းများကို အာမခံသည်
            </p>
    </div>
    <div class="col-lg-4">
        <img src="/images/flows.svg"  style=" height: 4em; margin-right: 1em;"  alt="ငွေစီးဆင်းမှု ပုံကြောင်း">
        <h2 class="h2">ခေတ်မီ</h2>
        <p>mempool နှင့် ငွေစီးဆင်းမှု ပုံကြောင်းများအတွက် စွမ်းအားမြင့် ဇယားများကို ခေတ်မီ ဗျူအလ်လို ကာဖော်ပြချက်များနှင့် ပေါင်းစပ်ထားသည်။ <a href="{{ "/features/" | relLangURL }}">အင်္ဂါရပ်ပြည့်စုံ</a> အခြေအနေဖြင့် အသုံးပြုရန် ပြင်ဆင်ထားသည်</p>
    </div>
    <div class="col-lg-4">
        <img src="/images/synctalk.svg" class="coloredicon"  style="height: 4em; margin-right: 1em;"  alt="Bitcoin Safe Sync & Chat လိုဂို">
        <h2 class="h2">ချိတ်ဆက်နှင့် စကားဝိုင်း</h2>
        <p>
            အမှတ်အသားများ၏ မိတ္တူယူခြင်းနှင့် ချိန်ညှိမှု။ <a href="{{ "/features/collaboration" | relLangURL }}">multi-party-multisig</a> စနစ်တွင် အခြား လက်မှတ်ထိုးသူများနှင့် ပူးပေါင်းဆောင်ရွက်နိုင်သည်။
          </p>
          
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="/images/checkmark.svg"  class="coloredicon"  style="height: 4em; margin-right: 1em;" alt="စစ်မှတ်">
        <h2 class="h2">လွယ်ကူ</h2>
        <p> <a href="{{ "/knowledge/setup-singlesig-wallet/" | relLangURL }}">အဆင့်ဆင့် လမ်းညွှန်ချက်များ</a> — လုံခြုံသော SingleSig သို့မဟုတ် MultiSig ကို ချမှတ်နိုင်ရန် နှင့် <a href="{{ "/features/pdf-export/" | relLangURL }}">PDF မိတ္တူစာရွက်များ</a> ပါရှိပါသည်</p>
    </div>
    <div class="col-lg-4">
        <img src="/images/usb.svg"  class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="USB လိုဂို">
        <img src="/images/qr-code.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="QR လိုဂို">
        <img src="/images/sd-card.svg"  class="coloredicon"   style="height: 3em; margin-right: 1em; margin-bottom: 1em;" alt="SD ကဒ် လိုဂို" >
        <h2 class="h2">ကိုက်ညီနိုင်သော</h2>
        <p>
            Coldcard, 
            Coldcard Q, 
            Bitbox02, 
            Blockstream Jade,    
            Trezor Safe,
            Foundation Passport,
            Keystone,
            Ledger,
            Specter DIY,
            SeedSigner,
            Krux အပါအဝင် အဓိက ဟာ့ဒ်ဝဲ ဝေါလက်များအားလုံးကို ထောက်ပံ့သည်။
            QR, USB သို့မဟုတ် SD ကတ် အသုံးပြုပြီး အလုံးစုံပံ့ပိုးသည်။
          </p>
          
    </div>
    <div class="col-lg-4">
        <img src="/images/language-translator-icon.svg"  alt="ဘာသာပြန် လိုဂို" class="coloredicon"  style="height: 3em; margin-right: 1em; margin-bottom: 1em;" >
        <h2 class="h2">အမျိုးမျိုးသော ဘာသာစကားများ</h2>
        <p><a href="{{ "/features/multi-language" | relLangURL }}">သင့်ဘာသာစကားကို အသုံးပြုပါ</a> : 🇺🇸 English, 🇨🇳 Chinese – 简体中文, 🇪🇸 Spanish – español de España, 🇯🇵 Japanese – 日本語, 🇷🇺 Russian – русский, 🇵🇹 Portuguese – português europeo, 🇧🇷 Portuguese (Brazil) – português do Brasil, 🇮🇳 Hindi – हिन्दी, 🇦🇪 Arabic – العربية, 🇮🇹 Italian – italiano, 🇫🇷 French – Français, 🇩🇪 German – Deutsch, 🇲🇲 Burmese – မြန်မာ, 🇰🇷 Korean – 한국어, 🇹🇭 Thai – ภาษาไทย, 🇮🇷 Persian (Farsi) – فارسی, 🇵🇱 Polish – Polski, 🇪🇸 Catalan – Català, 🇮🇩 Indonesian – Bahasa Indonesia, 🇹🇷 Turkish – Türkçe, 🇺🇦 Ukrainian – Українська   </p> 
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">ဖွင့်အရင်းအမြစ်</h2>
        <p>ကျွန်ုပ်တို့သည် ဖွင့်အရင်းအမြစ်ကို ❤ နှစ်မြော်ပါသည် — <a href="https://github.com/andreasgriffin/bitcoin-safe">Bitcoin Safe</a> သည် <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPL3</a> ဖြင့် ထုတ်ဝေထားပါသည်</p> 
    </div> 
</div>